.additem{
     
    padding:10px; 
}
#dataform
{background-color: rgba(246, 246, 246, 0.924);
  
 margin-top:10px;
}

input{
    width:50%;
    padding:10px;
    margin:10px;
    border-radius: 10px;
    border:0.5px solid grey;
    outline:none;
    background:rgba(246, 246, 246, 0.924);
    font-size:14px;
    letter-spacing: 2px;
}
input[type=number] {
  -moz-appearance: textfield;
}input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
.submit-form
{
    background-color: rgb(216, 199, 214);
    font-size:15px;
    padding:10px;
    font-weight: 500;
    margin-top:10px;
    border:none;
    border-radius:5px;
    cursor:pointer;
    outline:none;
    margin:10px;
}
.submit-form:hover{
    color:white;
    background-color:  rgb(226, 181, 221);;
}
@media only screen and (max-width: 600px) {
    input {
        width:80%;
        
    }
  }