.cart-product{
background:rgba(246, 246, 246, 0.924);
padding:10px;
margin-top:3%;
color:black;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.pay
 {
     display:flex;
     flex-wrap:wrap;
     justify-content :space-between;
 }
 .cart-button-pay
{
    background-color: rgb(107, 235, 149);
    font-size:15px;
    padding:10px;
    font-weight: 500;
    margin-top:10px;
    border:none;
    border-radius:5px;
    cursor:pointer;
    outline:none;
}
.cart-button-remove
{
    background-color: rgb(223, 15, 26);
    font-size:15px;
    padding:10px;
    font-weight: 500;
     
    border:none;
    border-radius:5px;
    color:white;
    cursor:pointer;
    margin-left:20px;
    outline:none;
}
 .img
 {text-align: center;
     border-radius: 20px;;

 }
 .content{
     display:flex;
     flex-wrap: wrap;
     margin-left:10px;
 }
 .product-details
 {
     margin-left:20px;
 }
.checkout
{
    padding:10px;
    height:250px;
    margin-top: 3%;
    width: 267px;
    background: rgba(246, 246, 246, 0.924);
}
.checkout >p {
    color:grey;
}
.checkout >p >span{
    font-size:15px;
    padding:10px;
    font-weight: 500;
    margin-top:10px;
    border:none;
    border-radius:5px;
    cursor:pointer;
    outline:none;
    background-color: rgb(216, 199, 214);
}