.products{
    background-color:rgba(246, 246, 246, 0.924);
    display:flex;
    justify-content :space-around;
    flex-wrap:wrap;
}
.card-ui{
    padding:10px;
    margin-top:3%;
    border-radius: 10px;
    background-color:white;
    border-radius:10px;
    height:auto;
    width:200px;
    margin-right:3%;
    margin-bottom:3%;
}
.categories
{
    display:flex;
    justify-content: space-between;
    margin-bottom:20px;
}
p{
    margin-top:10px;
    margin-bottom:0px;
}
.select_category
{
    outline:none;
    width:100px;
    height:40px;
    font-size:20px;
    border-radius: 5px;
    padding:5px;;
}
label{
    margin-right:5px;
}
select >option:hover{
    background:grey;
}
.abc {
    display: flex;
}