li{
    margin-right:5%;
    display:inline;
}
 
ul{padding:0;
}

.header
{
    text-align:center;  
}
a{
    text-decoration: none;
    color:black;    
}
a:hover{
    color:grey;
}
  span {
    color:#d56a6a;
}
.checkOut
{
    background-color: rgb(216, 199, 214);
    font-size:15px;
    padding:10px;
    font-weight: 500;
    border:none;
    border-radius:5px;
    cursor:pointer;
    outline:none;
    float:right;
}
 